@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

:root {
    --brown: rgb(140, 78, 49);
    --green: rgb(139, 142, 129);
    --beige: rgb(188, 172, 157);
    --white: rgb(255, 255, 255);
    --background: rgb(255, 255, 255);
    --check-alt: rgb(188, 172, 157);
    --font: "Corinthia";
    --header-size: 6em;
    --count-size: 7em;
    --middle-size: 3em;
    --large: 7em;
    --small: 4em;
    --base-text: 1.2em;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

.font-script {
    font-family: var(--font), cursive;
    font-weight: 400;
    font-style: normal;
}

.font-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.content {
    width: 1000px;
    margin: auto;
}

.nav-title {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    background-color: var(--brown);
    justify-content: center;
    align-items: center;
}

.title {
    padding: 25 0 0 0;
    margin: none;
    color: var(--white);
}

.large {
    font-size: var(--large);
}

.small {
    font-size: var(--small);
    padding-left: 30px;
    padding-right: 30px;
}

.nav-links {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: var(--brown);
    justify-content: space-evenly;
    align-items: center;
}

.link-tag {
    text-decoration: none;
    color: var(--white);
}

.link-tag:hover {
    text-decoration: underline;
}

.link-text {
    color: var(--white);
    font-size: 0.9em;
}

.photos {
    display: flex;
    flex-direction: column;
}

.photo-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo {
    height: 400px;
    overflow: hidden;
}

.wide {
    width: 60%;
}

.image-fit {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.image-fit-wide {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.short {
    width: 40%;
}

.countown {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.greeting {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: none;
    padding: none;
}

.greeting-text {
    font-size: var(--header-size);
    color: var(--green);
    padding: 50 0 20 0;
    margin: 0px;
}

.timer {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticker {
    width: 160px;
    height: 180px;
    color: var(--green);
    text-align: center;
}

.ticker-box{
    width: 100%;
    height: 160px;
    line-height: 160px;
    background-color: var(--green);
    text-align: center;
    justify-content: center;
}

.count {
    font-size: var(--count-size);
    color: var(--white);
    padding: 0;
    margin: 0;
}

.count-label {
    font-size: 0.9em;
}

.countdown-date {
    width: 100%;
    text-align: center;
    padding-top: 25px;
}

.date-text {
    color: var(--green);
    font-size: 1.2em;
}

.story {
    width: 100%;
    background-color: var(--brown);
    margin-top: 70px;
    padding-bottom: 70px;
}

.story-title-block {
    width: 434px;
    margin-left: 5%;
    padding-top: 35px;
    text-align: center;
}

.story-title {
    font-size: var(--header-size);
    color: var(--white);
    margin: 0 0 -15 0;
    padding: 0;
}

.section-title-underline {
    padding: 0;
    margin: 0;
}

.story-text-block {
    width: 80%;
    margin: auto;
    text-align: justify;
}

.story-text {
    color: var(--white);
    font-size: 1.2em;
}

.big-day {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.notes-container {
    width: 50%;
    text-align: justify;
    padding-top: 150px;
}

.notes-text {
    color: var(--green);
    font-size: 1.2em;
    width: 80%;
    margin: auto;
}

.schedule-container {
    width: 50%;
}

.big-day-title-block {
    width: 434px;
    text-align: center;
    margin-left: 2%;
    padding-top: 50px;
}

.big-day-title {
    color: var(--green);
    font-size: var(--header-size);
    margin: 0 0 -15 0;
    padding: 0;
}

.timeline-container {
    width: 100%;
    margin-bottom: 50px;
}

.timeline-title-container {
    text-align: left;
}

.timeline-title {
    color: var(--green);
    font-size: var(--middle-size);
    margin-bottom: 35px;
}

.timeline-timeline {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.timeline-hours {
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.timeline-divider {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.divider-image {
    width: 6px;
    height: auto;
    margin-top: -20px;
}

.timeline-events {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.timeline-child {
    font-size: 1.2em;
    color: var(--green);
    padding-top: 3px;
    margin-bottom: 20px;
}

.directions {
    width: 100%;
    background-color: var(--brown);
    padding-bottom: 50px;
}

.directions-title-block {
    width: 434px;
    margin-left: 5%;
    padding-top: 35px;
    text-align: center;
}

.directions-title {
    font-size: var(--header-size);
    color: var(--white);
    margin: 0 0 -15 0;
    padding: 0;
}

.directions-text {
    color: var(--white);
    font-size: var(--base-text);
    width: 80%;
    margin: auto;
}

.directions-map {
    width: 80%;
    height: auto;
}

.registry-title-block {
    width: 50%;
    text-align: center;
    margin-left: 48%;
    padding-top: 50px;
}

.registry-title {
    color: var(--green);
    font-size: var(--header-size);
    margin: 0 0 -15 0;
    padding: 0;
}

.registry-text {
    color: var(--green);
    font-size: var(--base-text);
    width: 80%;
    margin: auto;
}

.registry-qr-block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.qr-code-container {
    width: 50%;
}

.qr-code {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.qr-text {
    color: var(--green);
    font-size: var(--small);
    margin: auto;
}

.qr-text-white {
    color: var(--white);
    font-size: var(--small);
    margin: auto;
}

.rsvp {
    background-color: var(--brown);
    margin-top: 50px;
}

.rsvp-title-block {
    width: 434px;
    margin-left: 5%;
    padding-top: 35px;
    text-align: center;
}

.rsvp-title {
    color: var(--white);
    font-size: var(--header-size);
    margin: 0 0 -15 0;
    padding: 0;
}

.rsvp-text {
    color: var(--white);
    font-size: var(--base-text);
    width: 80%;
    margin: auto;
}

.todo {
    color: red;
    background-color: yellow;
    font-style: bold;
    font-size: 24px;
    font-family: "Inter", sans-serif;
}